In [2]:
import pandas as pd
import numpy as np
from tensorflow import keras
from  sklearn.preprocessing import MinMaxScaler, OneHotEncoder, LabelEncoder
from statsmodels.tsa.seasonal import seasonal_decompose

label_encoder = LabelEncoder()

InputLayer = keras.layers.InputLayer()
LSTM = keras.layers.LSTM
Dropout = keras.layers.Dropout
Dense = keras.layers.Dense

In [19]:
df = pd.read_csv('/Users/victoroliveira/Desktop/vonix-py-statistic/src/vonixstatisc/data/pandas_data/data_fluency_queue_april_after_24.csv')

df_to_dict = pd.DataFrame()

df= df.dropna(axis=0)
df_to_ml = pd.get_dummies(df, prefix=None, dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None)
np_to_save = df_to_ml.iloc[:, 0:].values
df_to_ml

,agent_id,week_day,hour,minute,timestamp,handling_time,queue_id_equipez5,queue_id_equipez6,queue_id_isblackbelt,queue_id_isblackbeltt,...,queue_id_isnnadal,queue_id_isnrecuperacao,queue_id_isnxsell,queue_id_isphoenix,queue_id_issharks,queue_id_istigers,queue_id_iswolves,queue_id_mgmsales,queue_id_mgmsdr,queue_id_timec
0,1567,1,21,5,1682370335,2,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1592,1,21,6,1682370360,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1592,1,21,6,1682370404,114,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1567,1,21,6,1682370414,1198,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1119,1,21,8,1682370488,10,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9029,1615,3,13,22,1683120157,391,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9030,1652,3,13,30,1683120648,10,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9031,1605,3,13,32,1683120738,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9032,1616,3,13,32,1683120776,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9033,1605,3,13,33,1683120810,267,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [17]:
np.savetxt("/Users/victoroliveira/Desktop/vonix-py-statistic/jupyter-studies/nn_models/nn_OHE/test_data.csv", np_to_save, delimiter=",")